<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="DbFilePath" value="C:\work\VisitorTrackSystem\Data\VisitorDB.db" />
		<add key="AddressFilePath" value="C:\work\VisitorTrackSystem\Resources\KEN_ALL.CSV" />
		<add key="SmtpFromAddress" value="HormoneEX@gmail.com" />
		<add key="SmtpPassword" value="ibcg jkbu kyzv coxw" />
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
	</appSettings>
</configuration>